<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Group7.formulapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/formulapp_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Rectangle"></activity>
        <activity
            android:name=".Square"
            android:label="@string/title_activity_square"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Maths_Setting_Graph" />
        <activity android:name=".Maths_Function" />
        <activity android:name=".Maths_Graph" />
        <activity android:name=".MathsNumericIntegration" />





        <activity android:name=".uvast_calc"
            android:label ="Speed, Distance, Time Calculator"/>

        <activity android:name=".Getting_Area_Volume"
            android:label ="Area and Volume"/>

        <activity android:name=".light_page"
            android:label ="Light and Sound Formula"/>

        <activity android:name=".mechanics_page"
            android:label ="Mechanics"/>

        <activity android:name=".elec_page"
            android:label ="Electricity"/>

        <activity android:name=".lens_calc"
            android:label ="Lense Calculator"/>

        <activity android:name=".physics_homepage"
            android:label ="Physics"/>

        <activity android:name=".physics_experiments_homepage"
            android:label ="Experiments"/>

        <activity android:name=".Maths_Homepage"
                android:label ="Maths"/>

        <activity android:name=".conservation_of_momentum"
            android:label ="Conservation of Momentum"/>

        <activity android:name=".Length_Area_page"
            android:label ="Length and Area"/>

        <activity android:name=".Physics_page"
            android:label ="Physics Constants"/>

        <activity android:name=".Trig_page"
            android:label ="Trigonometry"/>

        <activity android:name=".quadrix"
            android:label ="Quadtratics Solver"/>



        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>